<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/cart.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-shop'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container cart">
        <section>
            <h1 class="cart__title">CARRITO DE COMPRAS</h1>
            <table class="cart__table">
                <thead class="cart__table-head">
                    <tr class="cart__table-row">
                        <th>DETALLE DE PRODUCTO</th>
                        <th>CANTIDAD</th>
                        <th>TOTAL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (cart != undefined && cart.length != 0) { %>
                        <% var cantItems = 0 %>
                        <% var precioTotal = 0 %>
                        <% cart.forEach(item => { %>
                            <% cantItems = cantItems + parseInt(item.quantity)  %>
                            <% precioTotal = precioTotal + parseFloat(item.price) %>
                            <%- include('../partial/cart-product', {item}); -%>
                    <% })} else { %>
                        <tr>
                            <td colspan="4" class="cart__table-row cart__table-empty">
                                El carrito está vacío.
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>
        <section class="cart__summary">
            <h3 class="cart__title">RESUMEN</h3>
            <div class="cart__summary-section">
                <div>
                    <section class="cart__section-table">
                        <div class="cart__section-row">
                            <p class="cart__section-label">CANTIDAD DE ELEMENTOS </p>
                            <p class="cart__section-text"> 
                                <%= cantItems  || 0%>
                            </p>
                        </div>
                        <div class="cart__section-row">
                            <p class="cart__section-label">SUBTOTAL </p>
                            <p class="cart__section-text"> 
                                <%= precioTotal || 0%>
                            </p>
                        </div>
                        <div class="cart__section-row">
                            <p class="cart__section-label">ENVIO </p>
                            <p class="cart__section-text"> $ 0.00 </p>
                        </div>
                        <div class="cart__section-row cart__row-last">
                            <p class="cart__section-label">TOTAL </p>
                            <p class="cart__section-text"> 
                                <%= precioTotal || 0 %>
                            </p>
                        </div>
                    </section>
                    <button class="cart__section-button">IR A PAGAR</button>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>

    <script src="/js/cart.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>