<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/cart.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-shop'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container cart">
        <section>
            <h1 class="cart__title">CARRITO DE COMPRAS</h1>
            <table class="cart__table">
                <thead class="cart__table-head">
                    <tr class="cart__table-row">
                        <th>DETALLE DE PRODUCTO</th>
                        <th>CANTIDAD</th>
                        <th>TOTAL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (funko1 !== undefined) { %>
                        <tr class="cart__table-row" id="row1">
                            <td>
                                <div class="cart__table-item">
                                    <picture class="cart__table-image">
                                        <img src="/img<%= funko1.image_front %>" alt="<%= funko1.product_name %>">
                                    </picture>
                                    <div class="cart__item-info">
                                        <% console.log(funko1) %>
                                        <h3 class="cart__item-name"> <%= funko1.product_name  %> </h3>
                                        <p class="cart__item-licence"> <%= funko1.licence_name %> </p>
                                        <p class="cart__item-price">Precio unitario: $<%= funko1.price %> </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="cart__table-quantity">
                                    <input type="text" class="cart__quantity-input" name="quantity" id="quantity1" placeholder="0" value="<%= cantidad1 %>">
                                    <div class="cart__quantity-group">
                                        <button id="add1" class="cart__quantity-quantity" type="button"> + </button>
                                        <button id="substract1" class="cart__quantity-quantity" type="button"> - </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="cart__table-price">$<%= Math.round((cantidad1 * funko1.price + Number.EPSILON) * 100) / 100 %></p>
                            </td>
                            <td>
                                <iconify-icon class="cart__table-icon" icon="ph:x-circle"></iconify-icon>
                            </td>
                        </tr>
                    <% } %>
                    <% if (funko2 !== undefined) { %>
                        <tr class="cart__table-row" id="row2">
                            <td>
                                <div class="cart__table-item">
                                    <picture class="cart__table-image">
                                        <img src="/img<%= funko2.image_front %>" alt="<%= funko2.product_name %>">
                                    </picture>
                                    <div class="cart__item-info">
                                        <% console.log(funko2) %>
                                        <h3 class="cart__item-name"> <%= funko2.product_name %> </h3>
                                        <p class="cart__item-licence"> <%= funko2.licence_name %> </p>
                                        <p class="cart__item-price">Precio unitario: $ <%= funko2.price %> </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="cart__table-quantity">
                                    <input type="text" class="cart__quantity-input" name="quantity" id="quantity2" placeholder="0" value="<%= cantidad2 %>">
                                    <div class="cart__quantity-group">
                                        <button id="add2" class="cart__quantity-quantity" type="button"> + </button>
                                        <button id="substract2" class="cart__quantity-quantity" type="button"> - </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="cart__table-price"> $<%= Math.round((cantidad2 * funko2.price + Number.EPSILON) * 100) / 100 %> </p>
                            </td>
                            <td>
                                <iconify-icon class="cart__table-icon" icon="ph:x-circle"></iconify-icon>
                            </td>
                        </tr>
                    <% } %>
                    <% if (funko1 === undefined && funko2 === undefined) { %>
                        <tr>
                            <td colspan="4" class="cart__table-row cart__table-empty">
                                El carrito está vacío.
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
        <section class="cart__summary">
            <h3 class="cart__title">RESUMEN</h3>
            <div class="cart__summary-section">
                <div>
                    <div class="cart__section-row">
                        <p class="cart__section-label">CANTIDAD DE ELEMENTOS </p>
                        <p class="cart__section-text"> 
                            <% if (funko1 === undefined && funko2 !== undefined) { %>
                                <%= cantidad2 %>
                            <% } %>
                            <% if (funko2 === undefined && funko1 !== undefined) { %>
                                <%= cantidad1 %>
                            <% } %>
                            <% if (funko2 === undefined && funko1 === undefined) { %>
                                0
                            <% } %>
                            <% if (funko2 !== undefined && funko1 !== undefined) { %>
                                <%= cantidad1 + cantidad2 %>
                            <% } %>
                        </p>
                    </div>
                    <div class="cart__section-row">
                        <p class="cart__section-label">SUBTOTAL </p>
                        <p class="cart__section-text"> 
                            <% if (funko1 === undefined && funko2 !== undefined) { %>
                                $ <%= Math.round((cantidad2 * funko2.price + Number.EPSILON) * 100) / 100 %>
                            <% } %>
                            <% if (funko2 === undefined && funko1 !== undefined) { %>
                                $ <%= Math.round((cantidad1 * funko1.price + Number.EPSILON) * 100) / 100 %>
                            <% } %>
                            <% if (funko2 === undefined && funko1 === undefined) { %>
                                $ 0.00
                            <% } %>
                            <% if (funko2 !== undefined && funko1 !== undefined) { %>
                                $ <%= Math.round((cantidad1 * funko1.price + cantidad2 * funko2.price + Number.EPSILON) * 100) / 100 %> 
                            <% } %>
                        </p>
                    </div>
                    <div class="cart__section-row">
                        <p class="cart__section-label">ENVIO </p>
                        <p class="cart__section-text"> $ 0.00 </p>
                    </div>
                    <div class="cart__section-row cart__row-last">
                        <p class="cart__section-label">TOTAL </p>
                        <p class="cart__section-text"> 
                            <% if (funko1 === undefined && funko2 !== undefined) { %>
                                $ <%= Math.round((cantidad2 * funko2.price + Number.EPSILON) * 100) / 100 %>
                            <% } %>
                            <% if (funko2 === undefined && funko1 !== undefined) { %>
                                $ <%= Math.round((cantidad1 * funko1.price + Number.EPSILON) * 100) / 100 %>
                            <% } %>
                            <% if (funko2 === undefined && funko1 === undefined) { %>
                                $ 0.00
                            <% } %>
                            <% if (funko2 !== undefined && funko1 !== undefined) { %>
                                $ <%= Math.round((cantidad1 * funko1.price + cantidad2 * funko2.price + Number.EPSILON) * 100) / 100 %> 
                            <% } %>
                        </p>
                    </div>
                    <button class="cart__section-button">IR A PAGAR</button>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>

    <script src="/js/cart.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>