<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/item.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-shop'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container">

        <article class="product-item">
            <picture class="product-img">
                <img src="/img<%= funko.image_front %>" alt="<%= funko.product_name%>">
            </picture>
            <div class="item__info">
                <% console.log(funko) %>
                <p class="item__licence"> <%= funko.licence_name %> </p>
                <h3 class="item__name"> <%= funko.product_name  %> </h3>
                <p class="item__description"> <%= funko.product_description %> </p>
                <p class="item__price"> <%= funko.product_price %> </p>
                <div class="item__cart">
                    <button id="substract" class="item__quantity" type="button"> - </button>
                    <input type="text" class="item__input" name="quantity" id="quantity" placeholder="0">
                    <button id="add" class="item__quantity" type="button"> + </button>
        
                    <button class="item__submit btn btn--primary btn--medium" type="submit"> Agregar al carrito </button>
                </div>
                <a class="item__promo" href=""> Ver métodos de pago - 3 CUOTAS SIN INTERÉS </a>
            </div>
        </article>
        
        <%- include('../partial/slider.ejs',{funkos:funkos}); -%>
    
    </main>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>
</body>
<script src="/js/item.js"> </script>
</html>