<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="../../../css/item.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <link rel="icon"  type="image/png" href="/img/branding/isotype.svg">
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-shop'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container">

        <article class="product-item">
            <picture class="product-img">
                <img src="/img/<%= funko.image_front %>" alt="">
            </picture>
            <div class="item__info">
                <p class="item__licence"> <%= funko.licence_name %> </p>
                <h3 class="item__name"> <%= funko.product_name  %> </h3>
                <p class="item__description"> <%= funko.product_description %> </p>
                <p class="item__price"> $<%= funko.price %> </p>
                <div class="item__cart">
                    <input type="text" class="item__input" name="quantity" id="quantity" placeholder="0" max=<%= funko.stock %> >
                    <div class="item__cart-quantity">
                        <button id="add" class="item__quantity" type="button"> + </button>
                        <button id="substract" class="item__quantity" type="button"> - </button>
                    </div>

                    <button class="item__submit btn btn--primary btn--medium" onclick="return agregarItem('<%= funko.product_id %>' )" type="submit"> Agregar al carrito </button>
                </div>
                <p class="item__stock"> <%= funko.stock %> UNIDADES EN STOCK</p>
                <a class="item__promo" href=""> <u>Ver métodos de pago</u> - <%= funko.dues %> CUOTAS SIN INTERÉS </a>
            </div>
        </article>
        <section>
            <div class="container">
                <h3 class="slider__title">Productos relacionados</h3>
                <%- include('../partial/slider.ejs',{funkos:relatedFunkos}); -%>
            </div>
        </section>
    </main>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>

    <script src="/js/item.js"> </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"> </script>
    <script>
    function agregarItem(funko_id){
        let id=funko_id; let quantity = $('.item__input').val();
        let url = `${id}/${quantity}/add`;
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'text',
            success: function (data){
                window.location.href = data;
            }, error: function (jqXHR, textStatus, errorThrown){
                console.log(jqXHR, "error");
            }
        });
        return false;
    }
    </script>
    <script src="/js/header-menu-responsive.js"></script>
</body>

</html>