<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="icon"  type="image/png" href="/img/branding/isotype.svg">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-shop'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container shop">

        <section class="shop__filters-section">

            <form role="search" class="shop__filters-form" id="search-form" action="/shop" method="get">

                <h3 class="shop__form-title" id="search-filters-title">Ver filtros</h3>
                
                <section class="shop__form-section" id="search-filters">
                    
                        <div class="shop__form-container">

                            <label class="shop__form-subtitle" for="form-item">BUSCAR</label>
                            <input id="form-item" type="text" placeholder="Buscar..." class="shop__form-input" name="nombre">
                        
                        </div>
                        <div class="shop__form-container">

                            <label class="shop__form-subtitle" for="form-ordenar">ORDENAR POR</label>
                            <select name="orden" id="ordenar" class="shop__form-input">
                                <option value="" disabled selected> Sin elegir </option>
                                <option value="DESC"> Mayor precio </option>
                                <option value="ASC"> Menor precio </option>
                            </select>

                        </div>
                        <div class="shop__form-container">

                            <p class="shop__form-subtitle">PRECIO</p>
                            <div class="shop__form-precio">
                                <label for="form-precio-min">MIN
                                    <input id="form-precio-min" type="number" placeholder="0" class="shop__form-input" name="precioMin" value="<%= values.precioMin %>">
                                </label>
                                <label for="form-precio-max">MAX
                                    <input id="form-precio-max" type="number" placeholder="0" class="shop__form-input" name="precioMax" value="<%= values.precioMax %>">
                                </label>
                            </div>

                        </div>
                        <div class="shop__form-categorias">
                    
                            <details open>
                                <summary class="shop__form-subtitle">CATEGORIAS</summary>
                                <div class="shop__form-div">
                                    <label for="todos">
                                        <input type="radio" name="licencia" id="todos" checked="checked" default>
                                    Todas las categorías</label>

                                    <%licences.map(licence=>{%>
                                        <% let checked = '' %>
                                        <% if (parseInt(values.licencia) === licence.licence_id) {checked = 'checked'} %>
                                        <label for="<%= licence.licence_name %>">
                                            <input value="<%= licence.licence_id %>" type="radio" name="licencia" id="<%= licence.licence_name %>" <%= checked %> >
                                            <%= licence.licence_name %> </label>
                                    <%})%>
                                </div>
                            </details>

                        </div>
                        <div class="shop__form-filtrar">

                            <p class="shop__form-subtitle">FILTRAR</p>
                            <div class="shop__form-div">
                                <label for="nuevos">
                                    <% let nuevosOn = '' %>
                                    <% if (values.nuevos === 'on') {nuevosOn = 'checked'} %>
                            
                                    <input type="checkbox" name="nuevos" id="nuevos" <%= nuevosOn %>>
                                    NUEVOS</label>
                                <label for="ofertas">
                                    <input disabled type="checkbox" name="" id="ofertas" >
                                    OFERTAS</label>
                                <label for="ultimos">
                                    <% let ultimosOn = '' %>
                                    <% if (values.ultimos === 'on') {ultimosOn = 'checked'} %>

                                    <input type="checkbox" name="ultimos" id="ultimos" <%= ultimosOn %>>
                                    ULTIMAS UNIDADES</label>
                                <label for="especial">
                                    <input disabled type="checkbox" name="" id="especial" >
                                    EDICIÓN ESPECIAL</label>
                                <label for="favoritos">
                                    <input disabled type="checkbox" name="" id="favoritos" >
                                    FAVORITOS</label>
                            </div>

                        </div>
                        <div class="shop__form-buttons">

                            <input class="shop__form-button" type="submit" value="Filtrar">
                            <input class="shop__form-button" type="reset" value="Limpiar">

                        </div>

                </section>
            </form>

        </section>
        
        <section class="shop__items-section">

            <div class="shop__card-items">

                <% listaFunkos.forEach(funko => { %>
                    <%- include('../partial/card.ejs', {funko: funko}) -%>
                <% }) %>
    
                <% if (listaFunkos.length === 0) { %>
                 <div class="shop__card-msg">
                    <p> No se han encontrado resultados. </p>
                 </div>
                <% } %>

            </div>

            <div class="shop__pagination">

                <!-- Mantengo la query para pasarla como parametro a la paginación -->
                <% let query = '' %>
                <% if (values.nombre != undefined) { query += `&nombre=${values.nombre}` }%>
                <% if (values.orden != undefined) { query += `&orden=${values.orden}` }%>
                <% if (values.precioMin != undefined) { query += `&precioMin=${values.precioMin}` }%>
                <% if (values.precioMax != undefined) { query += `&precioMax=${values.precioMax}` }%>
                <% if (values.licencia != undefined) { query += `&licencia=${values.licencia}` }%>
                <% if (values.nuevos != undefined) { query += `&nuevos=${values.nuevos}` }%>
                <% if (values.ultimos != undefined) { query += `&ultimos=${values.ultimos}` }%>

                <% if (paginaActual > 1) { %>
                    <a href="?paginaActual=<%= paginaActual -1 %>&size=<%= size %><%= query %>"> Anterior </a>
                <% } %>
    
                <% const startPage = Math.max( 1, paginaActual - 2) %>
                <% const endPage = Math.min(  totalPages, startPage + 4 ) %>
    
                <% for( let i = startPage; i <= endPage; i++ ) { %>
                    <a href="?paginaActual=<%= i %>&size=<%= size %><%= query %>"
                    <%= i===paginaActual ? 'class=active' : '' %> > <%= i %> 
                    </a>
                <% } %>
    
                <% if (paginaActual < totalPages) { %>
                    <a href="?paginaActual=<%= paginaActual + 1 %>&size=<%= size %><%= query %>"> Siguiente </a>
                <% } %>

            </div>

        </section>
        
    </main>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/filtros-tab.js"></script>
    <script src="/js/header-menu-responsive.js"></script>
</body>

</html>