<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" type="image/png" href="/img/branding/isotype.svg">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title>
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-admin'); -%>

    <!-- Agrego el contenido de la web -->
    <main class="container admin">

        <aside>
            <div class="admin__search display">
                <a><iconify-icon class="admin__search-icon" icon="ic:round-search"></iconify-icon></a>
                <input class="admin__search-bar" type="text" placeholder="Buscar...">
            </div>
        </aside>

        <section>

            <div class="admin__top">
                <hi class="admin__title">LISTADO DE PRODUCTOS</hi>
                <div class="admin__add">
                    <h3 class="admin__add-text">AGREGAR</h3>
                    <a href="/admin/create"> <iconify-icon class="admin__add-icon" icon="mdi:plus-box"> </iconify-icon></a>
                </div>
            </div>

            <table class="admin__table">
                <thead class="admin__table-head">
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre del Producto</th>
                        <th>Categoría</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="admin__table-body">
                    <% listaFunkos.forEach(funko => { %>
                        <tr>
                            <td id="id"> <%= funko.product_id %> </td>
                            <td id="codigo"> <%= funko.sku %> </td>
                            <td id="nombre"> <%= funko.product_name %> </td>
                            <td id="categoria"> <%= funko.licence_name %> </td>
                            <td class="admin__table-icons">
                                <a href="/admin/edit/<%- funko.product_id %>"> <iconify-icon class="admin__table-edit" icon="material-symbols:edit-rounded"></iconify-icon> </a>
                                <a href="/admin/delete/<%- funko.product_id %>"> <iconify-icon class="admin__table-delete" icon="material-symbols:delete-rounded"></iconify-icon> </a>
                            </td>
                        </tr>
                    <% }) %>

                </tbody>
            </table>

        </section>

    </main>

    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer') %>
        
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
            $(document).ready(function() {
                var table = new DataTable('.admin__table', {
                    lengthChange: false,
                    paging: false,
                    info: false,
                    language: {
                    zeroRecords: "No se encontraron resultados.",
                }
                });

                $('.admin__search-bar').on( 'keyup', function () {
                table.search( this.value ).draw();
            } );
            })
    </script>
</body>

</html>