<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/create.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-admin'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container admin">
        <section>
            <div class="admin__top">
                <hi class="admin__title">CREAR NUEVO ITEM</hi>
            </div>
            <form action="/admin/create" method="POST">
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <select name="category_id" id="categoria">
                  <% categories.map(category =>{%>
                    <option 
                    value="<%= category.category_id%>"
                    ><%= category.category_name%></option>
                <%})%>
                </select>
              </div>
              <div class="form-group">
                <label for="licencia">Licencia</label>
                <select name="licence_id" id="licencia">
                  <%licences.map(licence =>{%>
                    <option value="<%= licence.licence_id%>"
                    ><%= licence.licence_name%></option>
                <%})%>
                </select>
              </div>
              <div class="register__form-div">
                <label class="register__form-label" for="nombre">Nombre del producto</label>
                <input class="register__form-input" type="text" name="product_name" id="nombre" required>
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción del producto</label>
                <textarea name="product_description" id="descripcion" required></textarea>
              </div>
              <div class="register__form-div">
                <label class="register__form-label" for="sku">SKU</label>
                <input class="register__form-input" type="text" name="sku" id="sku" required>
              </div>
              <div class="register__form-div">
                <label class="register__form-label" for="precio">Precio</label>
                <input class="register__form-input" type="number" name="price" id="precio" required>
              </div>
              <div class="register__form-div">
                <label class="register__form-label" for="stock">Stock</label>
                <input class="register__form-input" type="number" name="stock" id="stock" required>
              </div>
              <div class="register__form-div">
                <label class="register__form-label" for="descuento">Descuento</label>
                <input class="register__form-input" type="number" name="discount" id="descuento" required>
              </div>
              <div class="register__form-div">
                <label class="register__form-label" for="cuotas">Cuotas</label>
                <input type="number" name="dues" id="cuotas" required>
              </div>
              <div class="edit__form-fila">

                <label class="edit__form-label" for="imagenes">Imagen Front:</label>
                <input class="edit__form-carga" type="file" id="imagenes" name="image_front" multiple>

            </div>
            <div class="edit__form-fila">

                <label class="edit__form-label" for="imagenes">Imagen Back:</label>
                <input class="edit__form-carga" type="file" id="imagenes" name="image_back" multiple>

            </div>
              <button type="submit">Agregar Producto</button>
              <button type="reset">Limpiar</button>
            </form>
            
        </section> 
    </main>

    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>
</body>
</html>