<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/create.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title>
    <link rel="icon"  type="image/png" href="/img/branding/isotype.svg">
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-admin'); -%>

    <!-- Agrego el contenido de la web -->
    <main class="container create">
        <h1 class="create__title">CREAR NUEVO ITEM</h1>
        <form class="create__form" action="/admin/create" method="POST" enctype="multipart/form-data">
            <div class="create__form-fila">

                <label class="create__form-label" for="categoria">Categoría:</label>
                <select class="create__form-select" name="category_id" id="categoria">
                  <% categories.map(category=>{%>
                    <option value="<%= category.category_id%>">
                      <%= category.category_name%>
                    </option>
                    <%})%>
                </select>
            
                <label class="create__form-label" for="licencia">Licencia:</label>
                <select class="create__form-select" name="licence_id" id="licencia">
                  <%licences.map(licence=>{%>
                    <option value="<%= licence.licence_id%>">
                      <%= licence.licence_name%>
                    </option>
                    <%})%>
                </select>

            </div>
            <div class="create__form-fila">

                <label class="create__form-label" for="nombre">Nombre del producto:</label>
                <input class="create__form-input" type="text" name="product_name" id="nombre"
                    placeholder="Kakashi Hatake Shippuden Saga" required>
          
            </div>
            <div>

                <textarea class="create__form-textarea" name="product_description" id="descripcion"
                    placeholder="Descripción del producto" required></textarea>
          
            </div>
            <div class="create__form-fila">

                <label class="create__form-label" for="sku">SKU:</label>
                <input class="create__form-input" type="text" name="sku" id="sku" placeholder="SSK111AB001" required>

                <label class="create__form-label" for="precio">Precio:</label>
                <input class="create__form-input" type="text" name="price" id="precio" placeholder="$ 0.000,00" required>

                <label class="create__form-label" for="stock">Stock:</label>
                <input class="create__form-input" type="text" name="stock" id="stock" placeholder="0" required>
          
            </div>
            <div class="create__form-fila">

                <label class="create__form-label" for="descuento">Descuento:</label>
                <input class="create__form-input" type="text" name="discount" id="descuento" placeholder="0%" required>

                <label class="create__form-label" for="cuotas">Cuotas:</label>
                <select class="create__form-select" type="number" name="dues" id="cuotas" required>
                    <option value="3" selected>3 cuotas sin interés</option>
                    <option value="6">6 cuotas sin interés</option>
                    <option value="8">8 Cuotas sin interés</option>
                    <option value="10">10 Cuotas sin interés</option>
                </select>
          
            </div>
            <div class="create__form-fila">

                <label class="create__form-label" for="imagenes">Imagen Front:</label>
                <input class="create__form-carga" type="file" id="imagenes" name="image_front" multiple>

            </div>
            <div class="create__form-fila">

                <label class="create__form-label" for="imagenes_back">Imagen Back:</label>
                <input class="create__form-carga" type="file" id="imagenes_back" name="image_back" multiple>

            </div>
            <div class="create__form-buttons">

                <input class="create__form-button" type="submit" value="Agregar Producto">
                <input class="create__form-button" type="reset" value="Limpiar">
        
            </div>
        </form>
    </main>

    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>
</body>
</html>