<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" type="image/png" href="/img/branding/isotype.svg">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title>
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-admin'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container edit">
        <h1 class="crud__title">EDITAR ITEM</h1>  
        <form class="crud__form" action="/admin/edit/<%=funko.product_id%>" method="POST" enctype="multipart/form-data">
            <div class="crud__form-fila">

                <label class="crud__form-label" for="categoria">Categoría:</label>
                <select class="crud__form-select" id="categoria" name="category_id">
                    <% categories.map(category =>{%>
                            <option 
                            value="<%= category.category_id%>"
                            <% if(category.category_id == funko.category_id) { %> selected <% } %>
                            ><%= category.category_name%></option>
                        <%})%>
                </select>

                <label class="crud__form-label" for="licencia">Licencia:</label>
                <select class="crud__form-select" id="licencia" name="licence_id">
                    <%licences.map(licence =>{%>
                        <option value="<%= licence.licence_id%>"
                        <% if(licence.licence_id == funko.licence_id) { %> selected <% } %>
                        ><%= licence.licence_name%></option>
                    <%})%>
                </select>

            </div>
            <div class="crud__form-fila">

                <label class="crud__form-label" for="product_name">Nombre del producto:</label>
                <input class="crud__form-input" type="text" id="product_name" name="product_name"
                    placeholder="Kakashi Hatake Shippuden Saga" value="<%= funko.product_name %>">

            </div>
            <div>

                <textarea class="crud__form-textarea" id="descripcion" name="product_description"
                    placeholder="Descripción del producto"><%= funko.product_description %></textarea>

            </div>
            <div class="crud__form-fila">

                <label class="crud__form-label" for="sku">SKU:</label>
                <input class="crud__form-input" type="text" id="sku" name="sku" placeholder="SSK111AB001" value="<%= funko.sku %>">


                <label class="crud__form-label" for="price">Precio:</label>
                <input class="crud__form-input" type="text" id="price" name="price" placeholder="$ 0.000,00" value="<%= funko.price %>">
                
                <label class="crud__form-label" for="stock">Stock:</label>
                <input class="crud__form-input" type="text" id="stock" name="stock" placeholder="0" value="<%= funko.stock %>">

            </div>
            <div class="crud__form-fila">

                <label class="crud__form-label" for="discount">Descuento:</label>
                <input class="crud__form-input" type="text" id="discount" name="discount" placeholder="0%" value="<%= funko.discount %>">

                <label class="crud__form-label" for="dues">Cuotas:</label>

                <select class="crud__form-select" id="dues" name="dues">

                    <% cuotas.forEach(element => { %>
                        <% if (element === Number(funko.dues)) {%>
                        <option selected><%= element %> cuotas sin interés</option>
                    <% }else { %>
                        <option value="<%= element%>"> <%= element%> cuotas sin interés</option>
                    <% }}) %>
                    
                </select>

            </div>
            <div class="crud__form-fila">

                <label class="crud__form-label" for="image_front">Imagen Front:</label>
                <input class="crud__form-carga" type="file" id="image_front" name="image_front" multiple>

            </div>
            <div class="crud__form-fila">

                <label class="crud__form-label" for="image_back">Imagen Back:</label>
                <input class="crud__form-carga" type="file" id="image_back" name="image_back" multiple>

            </div>
            <div class="crud__form-imagenes">

                <picture class="crud__form-imagen">
                    <img src="/img/<%= funko.image_front %>" alt="Imagen del frente del producto">
                    <p class="crud__form-caption">Frente</p>
                </picture>

                <picture class="crud__form-imagen">
                    <img src="/img/<%= funko.image_back %>" alt="Imagen del dorso del producto">
                    <p class="crud__form-caption">Dorso</p>
                </picture>

            </div>

            <div class="crud__form-buttons">

                <input class="crud__form-button" type="submit" value="Modificar Producto">
                <input class="crud__form-button" type="reset" value="Restablecer">
        
            </div>
        </form>
    </main>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer'); -%>

    <script src="/js/header-menu-responsive.js"></script>
</body>

</html>