<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/login.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title>
    <link rel="icon"  type="image/png" href="/img/branding/isotype.svg">
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-admin'); -%>
    
    <!-- Agrego el contenido de la web -->
    <main class="container">
        <section class="login">
            <div class="account__msg">
                <% if (msg != undefined) { %>
                 <p class="msg">  <%= msg %> </p>
                 <% } %>
            </div>

            <div>
                <h2 class="account__title">INGRESAR A MI CUENTA</h2>
            </div>
            <form class="account__form" method="post" action="">
                <fieldset>
                    
                    <div class="account__form-div">
                        <label class="account__form-label" for="email">Email: </label>
                        <input class="account__form-input" id="email" type="email" placeholder="johndoe@correo.com" name="email" value='<%= valores.email %>'>
                    </div>

                    <% if (errores.find( (element) => element.path === 'email') != null) {%>
                        <p class="account__form-error"> <%= errores.find( (element) => element.path === 'email').msg %> </p>
                        <% } %>

                    <div class="account__form-div">
                        <label class="account__form-label" for="contraseña">Contraseña: </label>
                        <input class="account__form-input" id="contraseña" type="password" placeholder="&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF" name="password">
                    </div>

                    <% if (errores.find( (element) => element.path === 'password') != null) {%>
                        <p class="account__form-error"> <%= errores.find( (element) => element.path === 'password').msg %> </p>
                        <% } %>

                </fieldset>
                <fieldset>
                        <div>
                            <input class="account__form-button" type="submit" value="Ingresar">
                            <input class="account__form-checkbox" id="aceptar" type="checkbox"></a>
                            <label class="account__form-terms" for="aceptar">Recordarme</label>
                            <p class="account__form-forgot">Olvidé mi contraseña</p>
                        </div>
                </fieldset>
            </form>
        </section>
    </main>

    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer') %>
</body>
</html>